body {
  background-color: rgb(243 244 246);
}

.app-container {
  text-align: center;
  margin-top: 50px;
}

.wallet-input {
  margin-bottom: 20px;
}

.view-button {
  margin-bottom: 20px;
}

.nft-list {
  margin-top: 20px;
}

/* .nft-item:hover { */
/*   transform: scale(1.05); */
/* } */
/**/
/* .nft-item img { */
/*   border-radius: 4px; */
/* } */
/**/
/* .nft-item { */
/*   transition: transform 0.3s ease-in-out; */
/*   cursor: pointer; */
/* } */
